@import url("Styles/navbar.css");
@import url("Styles/cabecalho.css");
@import url("Styles/metricas.css");
@import url("Styles/talentos.css");
@import url("Styles/vagas.css");
@import url("Styles/depoimento.css");
@import url("Styles/rodape.css");


:root {
    --cor-fonte: #667085;
    --branco: #FFFFFF;
    --vermelho-vinho: #8E2424;
    --preto-titulo-metricas: #101828;
}


body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--preto-titulo-metricas);
}