.cabecalho {
    padding: 4em 15em;
    text-align: center;
    margin-top: 3em;
}

.cabecalho__sub-titulo {
    color: var(--vermelho-vinho);
    font-weight: 600;
}

.cabecalho__titulo {
    font-size: 48px;
    font-weight: 600;
    margin: 1em 0;
}

.cabecalho__texto {
    color: var(--cor-fonte);
    font-size: 20px;
}