.talentos {
    text-align: center;
}

.talentos__sub-titulo {
    color: var(--vermelho-vinho);
    font-weight: 500;
    font-size: 14px;
    background: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
}

.talentos__titulo {
    font-weight: 600;
    font-size: 36px;
    margin: 1em 0;
}

.talentos__imagem {
    width: 90%;
    margin: 4em 0;
}